:root {
    --primary-color: cornflowerblue;
    --secondary-color: #FDFD96;
    --footer-link-color: darkgreen;
    --text-color: #f1f1f1;
    --link-active-color: blueviolet;
    --link-hover-color: green;
    --font-size-base: 1rem;
}
.body {
    background-color: var(--secondary-color);
    overflow-y: scroll;
    height: 100%;
}
p {
    text-indent: 3%;
}
.nav {
    background-color: var(--primary-color);
    padding: 0 1%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.a-navbar {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 22px;
    margin: auto;
}
.link-span {
    color: white;
}
article {
    margin: 4% auto;
    max-width: 70%;
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
}
section {
    margin: 6% auto;
}
footer {
    background-color: var(--primary-color);
    margin-top: 2rem;
    padding-bottom: 1%;
    font-size: 1rem;
    font-weight: 600;
}
footer ul{
    list-style: none;
}
.footer-link {
    color: var(--footer-link-color);
}
.footer-link:hover {
    color: var(--link-hover-color);
}
.footer-link:active {
    color: var(--link-active-color);
}