p {
    text-indent: 3%;
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
}
nav {
    background-color: cornflowerblue;
    border: solid 1px;
    padding: 0.1% 1%;
    position: sticky;
}
.a-navbar {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
@media only screen and (max-width: 1000px) and (min-width:600px) {
    .a-navbar{
        font-size: 16px;
    }
    nav {
        margin: auto 0;
    }
}
@media only screen and (max-width:600px) {
    .a-navbar{
        font-size: 12px;
    }
    nav {
        margin: auto 0;
    }
}
.link-span {
    -webkit-text-stroke: 1px black;
    color: white;
}
article {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
footer {
    background-color: cornflowerblue;
    border-top: 1px black solid;
    margin-top: 15%;
    padding-bottom: 1%;
    font-size: 1rem;
    font-weight: 600;
}
footer ul{
    list-style: none;
}