p {
    text-indent: 3%;

}
nav {
    background-color: cornflowerblue;
    border: solid 1px;
    padding: 0.1% 1%;
    position: sticky;
    z-index: 10;
    
}
.a-navbar {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.link-span {
    -webkit-text-stroke: 0.5px black;
    color: white;
}
article {
    margin: 5% auto;
    max-width: 75%;
    font-size: 1rem;
    font-weight: 600;
    text-align: justify;
}
footer {
    background-color: cornflowerblue;
    border-top: 1px black solid;
    margin-top: 15%;
    padding-bottom: 1%;
    font-size: 1rem;
    font-weight: 600;
}
footer ul{
    list-style: none;
}